<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
        <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
            <span class="uk-icon uk-margin-samll-right" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
        </p>

        <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
            <h3 class="uk-card-title">Autentique-se</h3>
            <div class="uk-margin">
                <input class="uk-input uk-form" type="email" placeholder="E-Mail">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form" type="password" placeholder="Senha">
            </div>
            <div class="uk-margin uk-text-right">
                <a href="/" class="uk-button uk-button-default">Entrar</a>
            </div>
        </div>

        <p class="uk-text-center">
            <a [routerLink]="['/signup']" class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-samll-bottom">Sign-Up</a>
            <br>
            <a [routerLink]="['/reset-password']" class="uk-button uk-button-link">Esqueci Minha Senha</a>
        </p>
    </div>
</div>